S3method(coef,fastVAR.GroupVAR)
S3method(coef,fastVAR.GroupVARX)
S3method(coef,fastVAR.RidgePath)
S3method(coef,fastVAR.SparseVAR)
S3method(coef,fastVAR.SparseVARX)
S3method(coef,fastVAR.VAR)
S3method(coef,fastVAR.VARX)
S3method(predict,fastVAR.GroupVAR)
S3method(predict,fastVAR.GroupVARX)
S3method(predict,fastVAR.SparseVAR)
S3method(predict,fastVAR.SparseVARX)
S3method(predict,fastVAR.VAR)
S3method(predict,fastVAR.VARX)
export(GroupVAR)
export(GroupVARX)
export(SparseVAR)
export(SparseVARX)
export(VAR)
export(VAR.diag)
export(VARX)
export(deseason)
export(exponentialWeights)
export(fastMlm)
export(is.periodic)
export(lastPeriod)
export(linearWeights)
export(ridgePath)
useDynLib(fastVAR)
