export(SparseVAR)
export(SparseVARX)
export(VAR)
export(VAR.diag)
export(VARX)
export(coef.fastVAR.RidgePath)
export(coef.fastVAR.SparseVAR)
export(coef.fastVAR.VAR)
export(coef.fastVAR.VARX)
export(exponentialWeights)
export(linearWeights)
export(predict.fastVAR.SparseVAR)
export(predict.fastVAR.SparseVARX)
export(predict.fastVAR.VAR)
export(predict.fastVAR.VARX)
